<html>
	<head>
		<title>sh0dan - Perfecti0n Ach1eved</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="icon" href="images/sh00dan-cropped.png">
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<section id="header">

					<!-- Logo -->
						<h1><a href="/">sh0dan<br>Asc3nd wh4t's p0ssible</a></h1>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li class="current"><a href="/">Home</a></li>
								<li><a href="https://axelgreavette.xyz">About the Developer</a></li>
							</ul>
						</nav>

					<!-- Banner -->
						<section id="banner">
							<header>
								<h2>The on1y bot you'll ev3r ne3d f0r</h2>
								<p>Fun. Stats. Utilities. Searches</p>
							</header>
						</section>

					<!-- Intro -->
						<section id="intro" class="container">
							<div class="row" >
								<div class="col-4 col-12-medium">
									<section class="first">
										<i class="icon featured fas fa-users"></i>
										<header>
											<h2>Who uses SHODAN?</h2>
										</header>
										<p style="font-size:30px"><strong><span class="counter">{{ users }}</span></strong> people as of right now</p>
									</section>
								</div>
								<div class="col-4 col-12-medium">
									<section class="middle">
										<i class="icon featured alt fas fa-server"></i>
										<header>
											<h2>How many servers is she operating in?</h2>
										</header>
										<p style="font-size:30px"><strong><span class="counter">{{ guilds }}</span></strong> at last count</p>
									</section>
								</div>
								<div class="col-4 col-12-medium">
									<section class="last">
										<i class="icon featured alt2 fas fa-terminal"></i>
										<header>
											<h2>Commands wise?</h2>
										</header>
										<p style="font-size:30px"><strong><span class="counter">{{ commands_total }}</span></strong> total and <strong><span class="counter">{{ commands_run }}</span></strong> commands run in total</p>
									</section>
								</div>
							</div>
							<footer>
								<ul class="actions">
									<li><a href="/bot/invite" class="button large">Invite SHODAN</a></li>
									<li><a href="/bot/support" class="button alt large">Join the support guild</a></li>
								</ul>
							</footer>
						</section>

				</section>

			<!-- Main -->
				<section id="main">
					<div class="container">
						<div class="row">
							<div class="col-12">

								<!-- Portfolio -->
									<section>
										<header class="major">
											<h2>Latest Updates</h2>
										</header>
										<div class="row">
											<div class="col-4 col-6-medium col-12-small">
												<section class="box">
													<header>
														<h3>{{ tile_one.title }}<span class="version-no">v{{ tile_one.version }}</span></h3>
													</header>
													<p>{{{ tile_one.description }}}</p>
												</section>
											</div>
											<div class="col-4 col-6-medium col-12-small">
												<section class="box">
													<header>
														<h3>{{ tile_two.title }}<span class="version-no">v{{ tile_two.version }}</span></h3>
													</header>
													<p>{{{ tile_two.description }}}</p>
													</section>
											</div>
											<div class="col-4 col-6-medium col-12-small">
												<section class="box">
													<header>
														<h3>{{ tile_three.title }}<span class="version-no">v{{ tile_three.version }}</span></h3>
													</header>
													<p>{{{ tile_three.description }}}</p>
													</section>
											</div>
											<div class="col-4 col-6-medium col-12-small">
												<section class="box">
													<header>
														<header>
															<h3>{{ tile_four.title }}<span class="version-no">v{{ tile_four.version }}</span></h3>
														</header>
														<p>{{{ tile_four.description }}}</p>
														</section>
											</div>
											<div class="col-4 col-6-medium col-12-small">
												<section class="box">
													<header>
														<h3>{{ tile_five.title }}<span class="version-no">v{{ tile_five.version }}</span></h3>
													</header>
													<p>{{{ tile_five.description }}}</p>
													</section>
											</div>
											<div class="col-4 col-6-medium col-12-small">
												<section class="box">
													<header>
														<h3>{{ tile_six.title }}<span class="version-no">v{{ tile_six.version }}</span></h3>
													</header>
													<p>{{{ tile_six.description }}}</p>
													</section>
											</div>
										</div>
									</section>
							</div>
						</div>
					</div>
				</section>

			<!-- Footer -->
				<section id="footer">
					<div class="container">
							<div class="col-12">
								<div style="text-align:center;">
								<img src="images/sh00dan.png" style="width: 7%;" ondragstart="return false"/>
								</div>

								<!-- Copyright -->
									<div id="copyright">
										<ul class="links">
											<li>&copy; Axel Greavette. All rights reserved.</li>
										</ul>
									</div>

							</div>
						</div>
					</div>
				</section>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
			<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
			<script src="assets/js/jquery.counterup.min.js"></script>
			  <script>
			    jQuery(document).ready(function( $ ) {
			        $('.counter').counterUp({
			            delay: 10,
			            time: 1000
			        });
			    });
			  </script>
	</body>
</html>
